:root{
    --grey:#445877;
    --blue:#92ccce;
    --darkgrey:#31343d;
    --black:#1c1d21;
    --white:#eeeef7;
}


html{
    font-size: 90%;
    background-color: var(--white);

}

body{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' ;
    background-color: var(--white);
    line-height: 1.2;
    font-size: 1.5rem;
}

h1{
    font-size: 4.5rem;
    font-weight: 700;
    padding:5px;
    margin-top: 10px;
    width:fit-content;
    background-color: var(--blue);
    color:var(--grey);
    float:left;
    
}
.header-container{
    background-color: var(--grey);
    width:100%;
    height:8rem;
    
}
nav{
    color:var(--grey);
    background-color: var(--blue);
    font-size: 1.5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:5px;
}


main{
    background-color: var(--white);
    clear:both;
    
}
.header{
    font-size: 2rem;
    margin-left:12vw;
    color: var(--grey);
    width:fit-content;
    height:6rem ;
    margin-right:0; 
    padding-right:0;  
}
.about-me{
    margin: 3% 0%;
    display:flex;
    justify-content: space-evenly;
}
.about-me p{ 
    width:fit-content;
    padding:5px;
    color:var(--grey);
    margin-right: 5%;
    margin-left: 0%;
    padding-left: 3.5%;
    border-left: 3.5px solid;
    border-color: var(--grey);
    

    
}
.work{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.work-block{
 flex:1 0 200px;
 border:5px solid;
 border-color: var(--grey);;
 
 
}


.contact-me {
    display:flex;
    flex-direction: row;
    justify-content:start;
    color: var(--grey);
    margin: 3% 0% 4% 0%;

    
}
.contact-me h2{
    font-size: 2rem;
    margin-left:12vw;
    color: var(--grey);
    width:4%;
    height:6rem ;
    margin-right:0; 
    padding-right:0; 
    
}
.contact-content{
    width:75%;
    display:flex;
    justify-content: space-evenly;
    color: var(--grey);
    margin: 0% 0% 4% 0%;
}
.contact-content p{
    margin-left: 0;
    padding: 3.5%;
    border-left: 3.5px solid;
    border-color: var(--grey);
    width:fit-content;
    text-decoration: underline;
    margin-right: 5px;
   
}
.contact-content a {
    color: var(--grey);
    width:fit-content;
    margin-right: 5px;
    margin-left: 5px;
    padding: 3.5%;
    
}


